@using Microsoft.AspNetCore.Identity
@inject SignInManager<ClinicApp.Models.ApplicationUser> SignInManager
@inject UserManager<ClinicApp.Models.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);

    <ul class="nav">
        @if (roles.Contains("admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark"  asp-area="Admin" asp-page="/AdminDashboard">Admin Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-page="/CreateDoctor">Create Doctor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-page="/CreatePatient">Create Paciente</a>
            </li> 
        }
        @if (roles.Contains("doctor"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Doctor" asp-page="/DoctorDashboard">Doctor Dashboard</a>
            </li>
        }
        @if (roles.Contains("patient"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-area="Patient" asp-page="/PatientDashboard">Patient Dashboard</a>
            </li>
        }
    </ul>
}

