@page

@model AdminDashboardModel
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "/Pages/Shared/_Layout.cshtml"; // Utiliza el layout global
}


<div class="col">
    <h2>Admin Dashboard</h2>
    <p>Welcome to the Admin Dashboard!</p>
</div> 