@page
@model CreateDoctorModel
@{
    ViewData["Title"] = "Create Doctor";
    Layout = "/Pages/Shared/_Layout.cshtml"; // Utiliza el layout global
}

<div class="row">
    <div class="col-md-4 mx-auto border p-3" id="adminNav">
        <section>
            <h2 class="text-center mb-3">Crear Doctor.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <form id="account" method="post">

                <div class="mb-3">
                    <label asp-for="Input.UserName">Nombre</label>
                    <input asp-for="Input.UserName" class="form-control" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Email">Email</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" type="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="col d-grid">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

        
