@page
@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard jaja</h2>
<p>Welcome, Adminnn!</p>

<ul>
    <li><a asp-page="./CreateDoctor">Create Doctor</a></li>
    <li><a asp-page="./CreatePatient">Create Patient</a></li>
</ul>
