html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}




/*Menu lateral*/

/* Asegurar que las listas desplegables se comporten correctamente */
.sidebar .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

    /* Ajustes adicionales para la apariencia de los elementos dentro de la lista desplegable */
    .sidebar .dropdown-menu .dropdown-item {
        padding: 0.5rem 1rem;
    }

/* Estilo para la barra lateral y sus elementos */
.sidebar .nav-item {
    margin-bottom: 1rem;
}

    .sidebar .nav-item .nav-link {
        display: contents;
        width: 100%;
        text-align: left;
        padding: 0.5rem 1rem;
    }

    /* Estilo para asegurar que el contenedor principal no interfiera con el dropdown */
    .sidebar .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
